@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}

@keyframes scale {
  from {
    scale: 1;
  }
  to {
    scale: 1.1;
  }
}

.photo-signs__item_image_time::before {
  display: inline-block;
  content: "";
  background-image: url(../../../../images/1.svg);
  width: 15.9px;
  height: 16px;
  margin-right: 7px;
}

.photo-signs:hover .photo-signs__item_image_time::before {
  animation: rotate 4s infinite linear;
}

.photo-signs__item_image_focus::before {
  display: inline-block;
  content: "";
  background-image: url(../../../../images/2.svg);
  width: 16px;
  height: 16px;
  margin-right: 7px;
}

.photo-signs:hover .photo-signs__item_image_focus::before {
  animation: rotate 4s infinite linear;
}

.photo-signs__item_image_iso::before {
  display: inline-block;
  content: "";
  background-image: url(../../../../images/3.svg);
  width: 32px;
  height: 16px;
  margin-right: 7px;
}

.photo-signs:hover .photo-signs__item_image_iso::before {
  animation: scale 2s infinite alternate;
}

.photo-signs__item_image_location::before {
  display: inline-block;
  content: "";
  background-image: url(../../../../images/4.svg);
  width: 10px;
  height: 16px;
  margin-right: 7px;
}

.photo-signs:hover .photo-signs__item_image_location::before {
  animation: scale 2s infinite alternate;
}
