.costa-rica {
  background-image: url(../../images/Background-image/7.png);
  background-size: cover;
  min-height: 65vh;
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  position: relative;
}
