@keyframes image {
  25% {
    background-image: url(../../images/imageimage/1.svg);
    scale: 1.1;
    rotate: 30deg;
  }
  50% {
    background-image: url(../../images/imageimage/2.svg);
    scale: 1.2;
    rotate: 60deg;
  }
  75% {
    background-image: url(../../images/imageimage/3.svg);
    scale: 1.3;
    rotate: 90deg;
  }
  100% {
    background-image: url(../../images/imageimage/4.svg);
    scale: 1.4;
    rotate: 120deg;
  }
}

.button {
  background: white;
  border-radius: 14px;
  padding: 10px 20px;
  transition: background 0.4s;
  color: black;
  display: flex;
  align-items: center;
  text-decoration: none;
  width: fit-content;
}

.button::before {
  display: inline-block;
  content: "";
  background-image: url(../../images/aperture-black.svg);
  width: 22px;
  height: 22px;
  margin-right: 10px;
}

.button:hover:before {
  animation-name: image;
  animation-duration: 0.5s;
  animation-fill-mode: forwards;
  animation-timing-function: ease;
}

.button:hover {
  background: rgb(197, 197, 197);
  cursor: pointer;
}
